doctype html
html
  head
      block head
        title= title
        // script(src='../javascripts/index.js')
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/extra.css')
        link(rel='stylesheet' href='/stylesheets/myanswers.css')
        link(rel='icon' href='/icons/favicon.ico' type='image/x-icon')
        script(src="https://kit.fontawesome.com/c5eef61d41.js" crossorigin="anonymous")
  body
    header
      nav#top-nav
        include nav.pug
    main
      #left-column
        include left-column.pug
      #main-column
        block content
      #right-column
       include right-column.pug
    footer
        include footer.pug
