/* Top Nav Styles */
#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#top-nav #logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}

#top-nav #logo h1 {
    font-size: 40px;
    font-weight: bolder;
    color: var(--color-primary);
    align-self: center;
    letter-spacing: -4px;
    padding-bottom: 10px;
}

#logo img {
    width: 48px;
    height: 62px;
}


#auth-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

}
