a(href="/")
    //- Source of icon design: https://fontawesome.com/v5/icons/images?s=regular, https://fontawesome.com/icons/face-grin-squint-tears?s=regular
    img(src="/icons/meme-overflow-icon.svg", alt="Meme Overflow")
a(href="/")
    h1 MemeOverflow
